body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #0c0d13;
    border-radius: 5px;
}
h1, h2 {
    text-align: center;
}
.course-list {
    list-style: none;
    padding: 0;
}
.course-item {
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.course-item:hover {
    background-color: #f9f9f9;
}
.description {
    display: none;
    margin-top: 10px;
}
.btn {
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #e22309;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ebd40a;
}
.btnIcon i {
    margin-right: 10px;
}
.btnIcon {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}